    <!-- Career Section -->
    <section id="career" class="content-section text-center">
        <div class="career-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Careers</h2>
                    <p>If you are interested in joing the team at Ouranos Systems, please follow the link below to find current job listings.</p>
                    <a href="https://www.linkedin.com/company/ouranos-systems-pty-ltd" class="btn btn-default btn-lg">Visit Job Listings</a>
                </div>
            </div>
        </div>
    </section>