    <!-- Map Section -->

<div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfnTE8veccdBEZhCiOrkHQcOc7nUFFKOo&callback=initMap&libraries=&v=weekly"
      async
    ></script>
<script
const styleOptions = {
  name: `Dummy Style`,
}

const MAP_STYLE = [
  {
    featureType: `road`,
    elementType: `all`,
    stylers: [{ visibility: `on` }],
  },
]
const mapType = new google.maps.StyledMapType(MAP_STYLE, styleOptions)
map.mapTypes.set(`Dummy Style`, mapType)
map.setMapTypeId(`Dummy Style`)
        ></script>
