    <!-- Partners Section -->
img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/* Disable grayscale on hover */
img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}
    <section id="partners" class="content-section text-center">
        <div class="partners-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Partners</h2>
                     <div class="row">
                        <div class="column">
                            <a href="https://www.ansto.gov.au">
                            <img src="/img/ansto1-2.png" alt="ANSTO" style="width:25%" Padding: 10px>
                            </a>
                            <a href="https://www.nandin.com.au">
                            <img src="/img/nandin1-2.png" alt="nandin" style="width:25%" Padding: 10px>
                            </a>
                            <a href="https://www.industry.gov.au/policies-and-initiatives/australian-space-agency">
                            <img src="/img/asa1-2.png" alt="Australian Space Agency" style="width:25%" Padding: 10px>
                            </a>
                         </div>
                         <div>
                             <a href="https://www.phosenergy.com">
                             <img src="/img/phosenergy1-2.png" alt="PhosEnergy" style="width:25%" Padding: 10px>
                             </a>
                             <a href="https://www.ansto.gov.au/work-us/innovation/futurenow-scholarships">
                             <img src="/img/nsw1-2.png" alt="NSW Government" style="width:25%" Padding: 10px>
                             </a>
                             <a href="https://www.australia.gov.au/">
                             <img src="/img/ausgov1-2.png" alt="Australian Government" style="width:25%" Padding: 10px>
                             </a>
                         </div>
                    </div> 
                </div>
            </div>
        </div>
    </section>
