    <!-- Partners Section -->
    <section id="partners" class="content-section text-center">
        <div class="partners-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Partners</h2>
                     <div class="row">
                        <div class="column">
                            <img src="/img/ansto1-2.png" alt="ANSTO" style="width:20%">
                            <img src="/img/nandin1-2.png" alt="nandin" style="width:20%">
                            <img src="/img/asa1-2.png" alt="Australian Space Agency" style="width:20%">
                         </div>
                         <div>
                            <img src="/img/phosenergy1-2.png" alt="PhosEnergy" style="width:20%">
                            <img src="/img/nsw1-2.png" alt="NSW Government" style="width:20%">
                         </div>
                    </div> 
                </div>
            </div>
        </div>
    </section>
